<html>
	<head>
		<title> Instashop </title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	</head>
	<body class="instashop-background">
		<div class="main-card">
			<img src="https://i.imgur.com/Kwq5ALI.png" class="insta-logo" align="middle">
			<p class="h1"> Hello world! What's your name? </p> <br>
			<input id="formsNameField" type="text" class="form-control"> <br>
			<button class="btn btn-lg light" onclick="showMyName()"> Enviar </button>
			<h3 id="myName"></h3>
		</div>
	</body>
</html>

<style>
	.main-card{
		width: 45%;
		margin: auto;
		margin-top: 1%;
		text-align: center;
	}
	.insta-logo{
		width: 50%;
		border-radius: 50%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.instashop-background{
		background-color: #92becf;
		color: white;
	}
	.light{
		background-color: #D77AA3;
		color: white;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
	}
</style>

<script>
	function showMyName(){
		var formsNameField = document.getElementById("formsNameField");
		var formsNameFieldWithoutSpaces = formsNameField.value.replace(/\s/g, '');
		var nameField = document.getElementById("myName");

		if(formsNameFieldWithoutSpaces!="")
			nameField.innerHTML = "My name is " + formsNameField.value;
		else
			nameField.innerHTML = "Type your name first!";
	}
</script>
